@import '../../main-theme.scss';
$my-app-primary: mat-palette($mat-indigo);
$my-app-accent:  mat-palette($mat-cyan, 800, 900, A100);
$my-app-warn:    mat-palette($mat-deep-orange);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);


$foreground: map-get($my-app-theme, foreground);

.color-primary {
    color: mat-color($my-app-primary);
}
.temperaturecard{
    background-color:rgba(3, 204, 110, 0.87);
    color: black;
    margin-top: 5px;
    margin-left:2.5px;
    margin-right:2.5px;
  }
  .mat-table {
    overflow: auto;
   /* align-items: stretch;*/
   }
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    min-width: 300px;
    width: 100%;
 
}
